{{!-- views/single-post.handlebars --}}
<div class="post">
  <h2>{{post.title}}</h2>
  <p>Posted by {{post.User.username}} on {{post.createdAt}}</p>
  <p>{{post.content}}</p>
</div>

{{#each post.Comments}}
  <div class="comment">
    <p>Comment by {{User.username}} on {{createdAt}}</p>
    <p>{{content}}</p>
  </div>
{{/each}}

<form action="/comment" method="POST">
  <textarea name="content" placeholder="Add a comment"></textarea>
  <input type="hidden" name="postId" value="{{post.id}}">
  <button type="submit">Submit Comment</button>
</form>